/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.third-main-text img {
	    left: 20%;
	    top: 60%;
	}
	.third-main-text.seventh img {
	    width: 50%;
    	top: 17%;
	}
	.third-main-text.second.seventh img {
	    top: 25%;
	}
	.third-main-text.second img {
	    left: 25%;
	    /*top: 55%;*/
	}
	.company3 {
	    right: 11%;
	}
	.circle-content.fourth img {
		-moz-transform: rotate(120deg);
	  	-o-transform: rotate(120deg);
	  	-webkit-transform: rotate(120deg);
	  	right: 70%;
   		bottom: -15.5%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.left{
		display: none;
	}
	.image-owl{
		height: 100% !important;
	}
	.right{
		width: 100%;
	}
	.item{
		height: 100%;
	}
	.box {
	    top: -17%;
	    width: 100%;
	}
	.third-text{
		text-align: center;
	}
	.third-image img{
		width: 100%;
	}
	.third-main-text{
		padding-top: 0;
	}
	.third-main-text img{
		width: 70%;
    	top: -55%;
	}
	.solution{
		top: 20%;
	}
	.third-main-text.second{
		padding-top: 0;
	}
	.third-main-text.second img{
		top: -7%;
	}
	.company3{
		right: 2%;
	}
	.fourth-main-text img{
		width: 90%;
	}
	.problems{
		padding-left: 0;
	}
	.section-fourth .man{
		width: 50%;
		right: 0;
	}
	.circle-content.first img{
		-moz-transform: scaleX(-1)scaleY(-1);
     	-o-transform: scaleX(-1)scaleY(-1);
		-webkit-transform: scaleX(-1)scaleY(-1);
        transform: scaleX(-1)scaleY(-1);
        filter: FlipH;
    	-ms-filter: "FlipH";
    	filter: FlipV;
    	-ms-filter: "FlipV";
    	left: -20%;
    	top: 67%;
	}
	.third-main-text.seventh img {
    	width: 68%;
    	top: 17%;
    	top: -5%;
	}
	.third-main-text.seventh {
    	padding-top: 0;

	}
	.third-main-text.second.seventh img {
	    top: -8%;
	    left: 32%;
	}
	.woman {
    	width: 55%;
    	right: 0%;
	}
	.main-text-nine{
		padding-top: 2rem;
	}
	.section.ten .left{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		z-index: 0;
	}
	.section.ten .right {
    	width: 100%;
    	position: static;
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    	z-index: 0;
	}
	.section.ten{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.map{
		width: 100%;
		height: 25rem;
	}
	.section.ten .section-container{
		padding: 0;
		width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}
	.section.ten .main-text p{
		padding-top: 0;
	}
	.circle-content.fourth img {
	    position: absolute;
	    right: -25.5%;
	    bottom: 20%;
	    transform: none;
    }
    .navbar-nav{
    	background-color: #4040409e;
    }
    .nav-item{
    	padding-left: 1rem;
    	padding-bottom: .5rem;
    	padding-top: .5rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.third-main-text img {
    	width: 40%;
    	top: -50%;
    	left: 10%;
	}
	.third-main-text.second img {
	    top: -7%;
	    top: -2%;
	}
	.company3 {
	    right: 3%;
	    bottom: 27%;
	}
	.fourth-main-text img {
    	width: 60%;
    	top: 20%;
	}
	.section-fourth .man {
    	width: 37%;
    }
    .section-fourth .company4{
    	top: 25%;
    }
    .circle-content.first {
    	margin-top: 0;
	}
	.circle-content.first img{
		-moz-transform: rotate(103deg);
	  	-o-transform: rotate(103deg);
	  	-webkit-transform: rotate(103deg);
		left: 37%;
		top: 103.5%;
	}
	.circle{
		margin-bottom: 5rem;
	}
	.circle-content.second img{
		-moz-transform: rotate(71deg);
	  	-o-transform: rotate(71deg);
	  	-webkit-transform: rotate(71deg);
	  	bottom: -32%;
    	right: 30%;
	}
	.circle-content.third {
    	margin-top: 0;
	}
	.circle-content.third img{
		-moz-transform: rotate(103deg);
	  	-o-transform: rotate(103deg);
	  	-webkit-transform: rotate(103deg);
	  	top: 104.5%;
    	right: 32.5%;
	}
	.circle-content.third.fifth {
    	margin-top: 0;
	}
	.circle-content.fourth img{
		-moz-transform: rotate(71deg);
	    -o-transform: rotate(71deg);
	    -webkit-transform: rotate(71deg);
	    bottom: -25%;
	    right: 36%;
    }
    .third-main-text.seventh img {
    	width: 40%;
	}
	.woman {
    	width: 40%;
	}
	.section.ten .section-container{
		padding: 3rem 0 !important;
	}
	/*.box {
    	top: -10%;
    	left: 0%;
	}*/
	.box {
	    top: -10%;
	    width: 80%;
	    left: 27%;
	}
	.content-box{
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 1rem;
	}
	.third-main-text.second.seventh img {
    	top: -10%;
	}
	.box-otz{
		display: none !important;
	}
	.navbar-light .navbar-brand{
		width: 60%;
	}
	.navbar-light .navbar-brand img {
		width: 100%;
	}
	.main-text p{
		font-size: 1.8rem;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.owl-nav {
	    right: 38% !important;
	    bottom: .75rem !important;
	}
	.third-main-text img {
    	width: 60%;
    	top: -50%;
    	left: 25%;
	}
	.third-main-text.second img {
    	top: -7%;
    	top: 5%;
    	left: 35%;
	}
	.company3 {
    	right: 3%;
    	bottom: 20.5%;
   	 	width: 100%;
	}
	.fourth-main-text img {
    	width: 100%;
    	left: 0;
    	top: 29%;
	}
	.problems{
		padding-bottom: 10rem;
	}
	.problem-item{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.item-text{
		margin-left: 0;
	}
	.section-fourth .man {
    	width: 55%;
    /* z-index: 0; */
	}
	.third-main-text.seventh img {
    	width: 80%;
    	left: 23%;
    	top: -7%;
	}
	.section-seventh .solution{
		width: 100%;
	}
	.third-main-text.second.seventh img {
    	top: -7%;
    	left: 20%;
	}
	.section-seventh .company3{
		width: 100%;
		bottom: 12%;
	}
	.text-nine{
		margin-bottom: 10rem !important;
	}
	.woman {
    	width: 55%;
    	bottom: 13.8%;
    	right: 3.5%;
	}
	.box {
    	top: -6%;
    	width: 100%;
    	left: 10%;
	}
	.main-text p {
    	font-size: 1.6rem;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.navbar-light .navbar-brand{
		width: 70%;
	}
	.navbar-light .navbar-brand img{
		width: 100%;
	}
	.main-text p {
    	font-size: 1.5rem;
	}
	.box {
    	top: -6%;
    	width: 100%;
    	left: 9%;
	}
	.section-container{
		padding-top: 11rem;
    	padding-bottom: 5rem;
	}
	.second-text{
		text-align: center;
	}
	.solution {
    	top: 15%;
    	width: 100%;
	}
	.company3 {
    	bottom: 21.5%;
    	width: 100%;
	}
	.fourth-main-text img {
    	width: 100%;
    	top: 30%;
    	left: 0;
	}
	.section-fourth p {
		z-index: 1;
	}
	.section-fourth .company4 {
    	top: 25%;
    	width: 100%;
    	left: -37%;
	}
	.problem-item{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.item-text{
		margin-left: 0;
	}
	.section-fourth .man {
    	width: 58%;
	}
	.fa {
    	font-size: 1.3rem !important;
	}
	.white-bg {
    	padding: 1.5rem;
	}
	/*.main-text{
		overflow: hidden;
	}*/
	.third-main-text.seventh img {
	    top: -3.5%;
    	left: 20%;
	}
	.third-main-text.second.seventh img {
	    top: -2%;
    	left: 20%;
	}
	.section-seventh .solution{
		width: 100%;
	}
	.section-seventh .company3{
		width: 100%;
	}
	.otz-1, .otz-2{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
		margin-left: 0;
	}
	
	.otz-text{
		margin: 0;
	}
	.otz-2 .otz-text{
		text-align: center;
		display: block;
		margin-right: 0;
	}
	.section-nine .main-text-button a{
		font-size: .7rem;
	}
	
	.woman {
    	width: 59%;
	    bottom: 13.5%;
	    right: 3.9%;
	}
	.content-box{
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 1rem;
	}
	.section-second p {
		margin-bottom: 0;
	}
	.third-main-text img {
	    left: 25%;
	}
	.third-main-text.second img{
		/*left: 55%;*/
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 576px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}